#navbar {
    width: 120px;
    height: 120px;
    position: fixed;
    top: -2em;
    left: calc(50vw - 60px);
    z-index: 9999;
    padding: 2.5em 1.9em 1.5em 1.9em;
    border-radius: 0 0 50px 50px;
    border: 1px solid var(--accentransy);
    background-color: white;
}

#navbar img {
    object-fit: contain;
    object-position: center;
}